* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {

    width: 100%;
    height: 100%;
    margin: 0;

    background-color: #fff;
}

.main {
    height: 100%;
    width: 100%;

    min-width: 320px;
}

.page {
    position: absolute;
    
    min-width: 100%;
    min-height: 100%;

    background-color: #fff;
    
}
