* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {

    width: 100%;
    height: 100%;
    margin: 0;
}

.main {
    height: 100%;
    width: 100%;

    min-width: 320px;
}

.page {
    position: absolute;
    
    min-width: 100%;
    min-height: 100%;
    
    /*background-color: #336699;*/
    /*background-color: #c7e5e2;*/
    /*background-color: #C7E5E2;*/
    /*background-color: #D2EAE8;*/
    background-color: #91CDC7;
    
}
