body {
	/*position: relative;*/
}

.page-home {

    width: 720px;
    height: 530px;
	

}

.title {
	padding-bottom: 40px;

	font-size: 30px;
    font-family: Helvetica, sans-serif;
}

.p {
	font-size: 20px;
}

.link {
    color: black;
    text-decoration: none;
}


@media screen and (max-width: 724px) {
	.page-home {
		position: absolute;
		top:0;
		right:0;
		bottom: 0;
		left: 0;


		width: 94%;
	    height: 97%;
	
	    padding: 3%;
	    margin:auto;
	}

	.p {
		
	    // width: 230px;

	    padding-bottom: 30px;

	    font-size: 12px;
	    font-family: Helvetica, sans-serif;
	}
}