body {
	/*position: relative;*/
}

.page-home {
	position: absolute;
	top:0;
	right:0;
	bottom: 0;
	left: 0;

    width: 720px;
    height: 530px;
	
	margin:auto;
}

.title {
	padding-bottom: 40px;

	font-size: 30px;
    font-family: Helvetica, sans-serif;
}

.p {
    padding-bottom: 30px;

	font-size: 20px;
	font-family: Helvetica, sans-serif;
}

.link {
    color: black;
    text-decoration: none;
}

.link::after {
	content: '';
	background-color: red;
	height: 1px;
	width: auto;
	padding-bottom: 10px;
}