/*
------------------------------------------------------
    PAGE HOME
------------------------------------------------------
*/

.page-home {

}

.page-home__title {
	display: block;
	
	position: absolute;
    top: 0;   
    right: 0;
    bottom: 0;
    left: 0;
    
    width: 310px;
    height: 242px;

/*	width: 420px;
    height: 172px;*/

    margin: auto;
}

.page-home__button-arrow--right {
	display: block;
	position: absolute;

	top: 40%;
	right: 0;
}

.page-home__button-arrow--bottom {
	display: block;
	position: absolute;
	
	right: 0;
	bottom: 0;
	left: 0;
	
	width: 120px;

	margin: auto;

}

.page-home__button-arrow--left {
	display: block;
	position: absolute;
	top: 40%;
	left: 0;
}

.page-home__button-arrow__title--right {
	position: absolute;
    top: 50px;
    right: 90px;
}

.page-home__button-arrow__title--bottom {
	position: absolute;
    bottom: 120px;
    left: 0;
    right: 0;
}

.page-home__button-arrow__title--left {
	position: absolute;
	top: 30px;
    left: 120px;
}

.page-home__button-primary {
	margin: 0 auto;
}

/*
------------------------------------------------------
    HEADER
------------------------------------------------------
*/

.header {
	position: relative;
	display: block;

	height: 10px;
	width: 100%;

	/*background-color: #29468C;*/
	/*background-color: #d29ea2;*/
	background-color: #336699;
	/*background-color: #c7d9e5;*/
	/*border-bottom: 1px solid grey;*/
}

.header__menu-icon {
	display: block;

	position: absolute;
    right: 10px;
    top: 10px;

	width: 30px;
	height: 30px;

}

/*
------------------------------------------------------
    SECTION-ISCHIA
------------------------------------------------------
*/

.section-ischia { 

	height: 500px; 
    
    background-image: url("../img/ischia.jpg");

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*
------------------------------------------------------
    SECTION
------------------------------------------------------
*/

.section {
	display: block;
	position: relative;
	
    width: 100%;
    /*max-width: 750px;*/

	font-family: Verdana, Arial, sans-serif;
}

/*
------------------------------------------------------
    SECTION LANDING
------------------------------------------------------
*/

.section-landing {
	height: 740px;

	background: url(../img/chicago.jpg);
    background-size: cover;
}

/*
------------------------------------------------------
    SECTION ABOUT
------------------------------------------------------
*/

.section-about {
    padding: 65px 0;
    margin: 0 auto;
    background-color: #cda991; 
}

.section-about__copy--wrapper {
	max-width: 700px;
	margin: 0 auto;
    
}

.section-about__copy {
	display: inline-block;

    margin: 0 0 3% 0;

    vertical-align: top;
}


/*
------------------------------------------------------
    SECTION-TRAVEL
------------------------------------------------------
*/

.section-travel { 

	height: 500px; 
    
    background-image: url("../img/geneva-with-dad.jpg");

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/*
------------------------------------------------------
    SECTION CONTACT
------------------------------------------------------
*/

.section-contact {
	/*max-width: 840px;*/
    /*height: 420px;*/

	margin: 0 auto;
    padding: 65px 0;

    background-color: #cda991; 
}

.section-contact__copy {
	/*max-width: 840px;
	
	margin: 0 auto;
    padding: 65px 0;*/
}

.section-contact__subtitle {
	font-size: 27px;
	font-weight: bold;
	text-align: center;
}

.section-contact__p {
	margin-bottom: 30px;

    font-size: 20px;
    text-align: center;
}

.page-home__button-primary {
	margin-bottom: 30px;
}

.section-contact__h4 {
	margin-bottom: 15px;

	text-align: center;

}
