.title {
	font-size: 35px;
	line-height: 1;
	color: #fff;
	font-family: Helvetica Neue, Helvetica, sans-serif;
    text-align: center;

    vertical-align: middle;
}

.emphasis {
	display: block;
	text-transform: uppercase;
	font-weight: bold;
}

.button-arrow__title {
	font-size: 25px;
	line-height: 1;
	color: #fff;
	font-family: Helvetica Neue, Helvetica, sans-serif;
    text-align: center;
    text-transform: capitalize;

    vertical-align: middle;

}

.button-arrow__title:hover {
	color: red;
}

.subtitle {
	
	/*width: 270px;*/

	font-size: 35px;
	font-family: Helvetica Neue, Helvetica, sans-serif;
	line-height: 1.5;

	color: #fff;
}

.subtitle--emphasis {
	/*width: 270px;*/

	color: #000;
	font-size: 15px;
	font-weight: bold;
	line-height: 1.5;
	text-transform: uppercase;
}

.p {
	/*width: 370px;*/

	color: #000;
	font-size: 12px;
	line-height: 1.5;
}

.link {
	text-decoration: none;
    font-weight: bold;
    color: #fff;
}